<link href="/assets/css/games.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<div id="align">
	<nav id="nav">
		<a onclick="exit()">
			<i class="fa-solid fa-xmark"
				style="color: white; margin-right: auto; margin-left: 20px; font-size: 24px;cursor: pointer;"></i>
		</a>
		<span id="m" style="margin: auto;"></span>
		<a onclick="fullscreen()">
			<i class="fa-solid fa-expand"
				style="color: white; margin-left: auto; margin-right: 45px; font-size: 20px;cursor: pointer;"></i>
		</a>
	</nav>
	<iframe id="ifr"></iframe>
</div>
<style>
	.fl {
		font-family: 'Poppins';
		font-size: 1.2rem;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
		transform: translateY(0);
	}
	#urlInput {
		font-family: 'Poppins';
		font-size: 1.2rem;
		color: #fafafa;
		margin: auto;
		width: 80%;
		padding: 10px;
		height: 100%;
	}
	.btn {
		font-family: 'Poppins';
		font-size: 15px;
		font-weight: 500;
		padding: 5px 10px;
		background-color: #fafafa;
		color: #424244;
		border: none;
		border-radius: 10px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}
	.btn:hover {
		background-color: #e2e2e2;
		color: #424244;
	}
	.btnContainer {
		display: inline-block;
		border: 1px solid #27272a;
		background-color: transparent;
		padding: 10px;
		border-radius: 10px;
		width: 400px;
		transition: all 0.2s ease-in-out;
	}
	.btnContainer:hover {
		background-color: #27272a;
	}
	.btnContainer h4 {
		color: #fafafa;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 500;
	}
	.btnBox {
		align-items: center;
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	.gameDescription {
		color: grey;
		font-size: 12px;
	}
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #09090b;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		background: #fafafa;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #acacac;
	}
	.tag {
		background: linear-gradient(to right, #7e57c2, #039be5);
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 5px;
		position: relative;
		top: -3px;
		margin-left: 5px;
	}
	.hot {
		background: linear-gradient(to right, #ff2525, #e57c03);
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 5px;
		position: relative;
		top: -3px;
		margin-left: 5px;
	}
</style>
<div class="games-body">
	<div id="urlInput">
		<br>
		<br>
		<br>
<h2 style="color: #fafafa; font-size: 60px; text-align: center; margin-bottom: 0px;">Emerald Apps</h2>
<h3 style="color: #909098; font-size: 15px; text-align: center; margin-top: 5px; font-weight: 300;">The apps section is not available yet but will be soon. Sorry :(</h3>
<h3 style="padding-bottom: 20px;"></h3>
<div class="btnBox">
	

</div>
</div>
</div>
</div>
<script src="/assets/js/proxy.js"></script>
<script src="/assets/js/games.js"></script>