<link href="/assets/css/games.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<div id="align">
	<nav id="nav">
		<a onclick="exit()">
			<i class="fa-solid fa-xmark"
				style="color: white; margin-right: auto; margin-left: 20px; font-size: 24px;cursor: pointer;"></i>
		</a>
		<span id="m" style="margin: auto;"></span>
		<a onclick="fullscreen()">
			<i class="fa-solid fa-expand"
				style="color: white; margin-left: auto; margin-right: 45px; font-size: 20px;cursor: pointer;"></i>
		</a>
	</nav>
	<iframe id="ifr"></iframe>
</div>
<style>
	.fl {
		font-family: 'Poppins';
		font-size: 1.2rem;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
		transform: translateY(0);
	}
	#urlInput {
		font-family: 'Poppins';
		font-size: 1.2rem;
		color: #fafafa;
		margin: auto;
		width: 80%;
		padding: 10px;
		height: 100%;
	}
	.btn {
		font-family: 'Poppins';
		font-size: 15px;
		font-weight: 500;
		padding: 5px 10px;
		background-color: #fafafa;
		color: #424244;
		border: none;
		border-radius: 10px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}
	.btn:hover {
		background-color: #e2e2e2;
		color: #424244;
	}
	.btnContainer {
		display: inline-block;
		border: 1px solid #27272a;
		background-color: transparent;
		padding: 10px;
		border-radius: 10px;
		width: 400px;
		transition: all 0.2s ease-in-out;
	}
	.btnContainer:hover {
		background-color: #27272a;
	}
	.btnContainer h4 {
		color: #fafafa;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 500;
	}
	.btnBox {
		align-items: center;
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	.gameDescription {
		color: grey;
		font-size: 12px;
	}
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #09090b;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		background: #fafafa;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #acacac;
	}
	.tag {
		background: linear-gradient(to right, #7e57c2, #039be5);
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 5px;
		position: relative;
		top: -3px;
		margin-left: 5px;
	}
	.hot {
		background: linear-gradient(to right, #ff2525, #e57c03);
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 5px;
		position: relative;
		top: -3px;
		margin-left: 5px;
	}
</style>
<div class="games-body">
	<div id="urlInput">
		<br>
		<br>
		<br>
<h2 style="color: #fafafa; font-size: 60px; text-align: center; margin-bottom: 0px;">Emerald Games</h2>
<h3 style="color: #909098; font-size: 15px; text-align: center; margin-top: 5px; font-weight: 300;">Please find below a curated selection of apps available on Emerald:</h3>
<h3 style="padding-bottom: 20px;"></h3>
<div class="btnBox">
<h2 style="color: #fafafa; font-size: 60px; text-align: center; margin-bottom: 0px;">Emerald Games</h2>
<h3 style="color: #909098; font-size: 15px; text-align: center; margin-top: 5px; font-weight: 300;">Please find below a curated selection of apps available on Emerald:</h3>
<h3 style="padding-bottom: 20px;"></h3>
<div class="btnBox">


	<div class="btnContainer">
		<h4>Roblox<span class="hot">Popular<i class="fa-solid fa-fire"></i></span></h4>
		<p class="gameDescription">TikTok is a popular social media app where users can create and share short videos set to music. Discover trending videos, follow your favorite creators, and showcase your creativity.</p>
		<button class="btn" onclick="window.open('https://websitesball.com/apps/tiktok/4478/tiktok.html', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Madden 24</h4>
		<p class="gameDescription">Snapchat is a multimedia messaging app where users can send photos and videos that disappear after being viewed. It also offers various filters, lenses, and fun features for creative communication.</p>
		<button class="btn" onclick="window.open('https://websitesball.com/apps/snap-inc/1230/snapchat.html', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>EA FC 24</h4>
		<p class="gameDescription">Facebook is a social networking platform where users can connect with friends, share updates, photos, videos, and engage in various activities.</p>
		<button class="btn" onclick="window.open('https://websitesball.com/apps/meta-platforms-inc/1226/facebook.html', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Learn to fly</h4>
		<p class="gameDescription">Instagram is a photo and video-sharing social networking service owned by Meta Platforms. Users can upload photos and videos, add captions, hashtags, and engage with others through likes, comments, and messages.</p>
		<button class="btn" onclick="window.open('https://websitesball.com/apps/instagram/1228/instagram.html', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Getting Over it</h4>
		<p class="gameDescription">Twitter is a microblogging and social networking platform where users can post and interact with messages known as "tweets." It's used for sharing news, thoughts, and engaging in discussions.</p>
		<button class="btn" onclick="window.open('https://twitter.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Vex 4</h4>
		<p class="gameDescription">Discord is a communication platform designed for creating communities. It offers voice, video, and text communication channels, making it popular among gamers and various interest groups.</p>
		<button class="btn" onclick="window.open('https://discord.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Uphill Racing 2</h4>
		<p class="gameDescription">YouTube is a video-sharing platform where users can upload, view, and share videos. It features a wide range of content, including music videos, tutorials, vlogs, and entertainment.</p>
		<button class="btn" onclick="window.open('https://youtube.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Top Speed Racing 3D</h4>
		<p class="gameDescription">Pinterest is a visual discovery engine for finding ideas and inspiration. Users can discover and save creative ideas, including recipes, home decor, fashion, and more.</p>
		<button class="btn" onclick="window.open('https://pinterest.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Color Tunnel</h4>
		<p class="gameDescription">LinkedIn is a professional networking platform where users can connect with colleagues, employers, and industry professionals. It's used for job searching, professional networking, and sharing industry insights.</p>
		<button class="btn" onclick="window.open('https://linkedin.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>1v1.LOL</h4>
		<p class="gameDescription">Reddit is a social news aggregation, web content rating, and discussion website. Users can submit content, vote on posts and comments, and participate in various communities based on interests.</p>
		<button class="btn" onclick="window.open('https://websitesball.com/apps/aptoide/5874/aptoide-2.html', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Paper Minecraft</h4>
		<p class="gameDescription">Twitch is a live streaming platform primarily focused on video games and esports. Users can watch live broadcasts, interact with streamers, and participate in chat discussions.</p>
		<button class="btn" onclick="window.open('https://twitch.tv', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Moto X3M</h4>
		<p class="gameDescription">Telegram is a messaging app known for its speed and security features. Users can send messages, photos, videos, and files, as well as create channels and groups for communication.</p>
		<button class="btn" onclick="window.open('https://telegram.org', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Madalin Cars Multiplayer</h4>
		<p class="gameDescription">WeChat is a multipurpose messaging, social media, and mobile payment app developed by Tencent. It's widely used in China and offers features like messaging, voice and video calls, social networking, and more.</p>
		<button class="btn" onclick="window.open('https://websitesball.com/apps/aptoide/5874/aptoide-2.html', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Vex 7</h4>
		<p class="gameDescription">Spotify is a digital music streaming service that offers access to a vast library of songs, albums, and playlists. Users can listen to music online, create playlists, and discover new artists and genres.</p>
		<button class="btn" onclick="window.open('https://open.spotify.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>We Become What We Behold</h4>
		<p class="gameDescription">Netflix is a subscription-based streaming service offering a wide variety of TV shows, movies, documentaries, and more. Users can watch content on-demand across various devices.</p>
		<button class="btn" onclick="window.open('https://netflix.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Infiltrating the Airship</h4>
		<p class="gameDescription">Amazon Prime Video is a subscription-based streaming service provided by Amazon. It offers a vast selection of TV shows, movies, and original content for streaming.</p>
		<button class="btn" onclick="window.open('https://www.primevideo.com/', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Snow Rider 3D</h4>
		<p class="gameDescription">Google Maps is a web mapping service offering satellite imagery, street maps, real-time traffic conditions, and route planning for navigation purposes.</p>
		<button class="btn" onclick="window.open('https://maps.google.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Basketball Arcade</h4>
		<p class="gameDescription">Google Drive is a file storage and synchronization service provided by Google. Users can store files in the cloud, share files with others, and collaborate on documents, spreadsheets, and presentations.</p>
		<button class="btn" onclick="window.open('https://drive.google.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Papa's Pastaria</h4>
		<p class="gameDescription">Microsoft Office is a suite of productivity applications that includes programs like Word, Excel, PowerPoint, and Outlook. It's widely used for creating documents, spreadsheets, presentations, and managing emails.</p>
		<button class="btn" onclick="window.open('https://www.office.com/', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Vex 3</h4>
		<p class="gameDescription">Amazon Shopping is an e-commerce platform where users can browse and purchase a wide range of products, including electronics, clothing, books, and more.</p>
		<button class="btn" onclick="window.open('https://www.amazon.com', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Stickman Fighter Epic Batlle 2</h4>
		<p class="gameDescription">Google Chrome is a popular web browser developed by Google. It offers fast and secure web browsing, as well as various features like tab management, extensions, and sync across devices.</p>
		<button class="btn" onclick="window.open('https://www.google.com/chrome', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Drift.IO</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Stickamn Ragdoll Playground</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Color Pin</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Dead Switch 3</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Heads Soccer Cup 2023</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Spot the Difference</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Fleeing the Complex</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Werebox 2</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Stack Colors</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Scribbl.io</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Hole.io</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Stickman Army: The Defenders</h4>
		<p class="gameDescription">Zoom is a video conferencing and web conferencing platform used for remote communication, online meetings, webinars, and virtual events. It offers features like screen sharing, chat, and recording.</p>
		<button class="btn" onclick="window.open('https://zoom.us', '_blank')">Play</button>
	</div>
	
	
	
	


</div>
</div>
</div>
</div>
<script src="/assets/js/proxy.js"></script>
<script src="/assets/js/games.js"></script>