<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizion</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var url = '/vizion.html'; // Path to the HTML file in the public directory
            var newTab = window.open(url, '_blank');
            if (newTab) {
                newTab.focus();
            } else {
                console.error('Failed to open new tab. It might be blocked by a popup blocker.');
            }
        });
    </script>
</head>
<body>
</body>
</html>
